.header {
    background: linear-gradient(0deg, rgba(86, 85, 85, 0.046), rgba(47, 46, 47, 0.59)), url('../../images/imageHeader.jpg');
    height: 20rem;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid black;
}

.logo {}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav_options {
    display: flex;
    gap: 1rem;
}

nav .nav_options a {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}

nav .nav_options a:hover {
    scale: 1.5;
    color: rgb(205, 205, 205);
}

.header_title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #fff;
}